@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
body{
font-family: 'Poppins', sans-serif;
}
.m-0{
margin: 0;
}

.p-2{
    padding: 10px;
}

#add-log-modal{
    width: 500px;
    height: auto;

}

#edit-log-modal{
    width: 500px;
    height: 400px;
}

#add-tech-modal{
    width: 500px;
    height: 400px;
}
#edit-tech-modal{
    width: 500px;
    height: 400px;
}

/* css for mobile */


@media only screen and (max-width: 600px) {
    #add-log-modal{
        width: 90% !important;
     }
     #edit-log-modal{
        width: 90% !important;
     }
     #tech-list-modal{
        width: 90% !important;
     }
     #add-tech-modal{
        width: 90% !important;
     }
     #edit-tech-modal{
        width: 90% !important;
     }
}